*.tar.gz

*.exe
src/Azzure
src/Azzured
src/Azzure-cli
src/Azzure-tx
src/test/test_Azzure
src/qt/test/test_Azzure-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
depcomp
install-sh
ltmain.sh
libtool.m4
lt~obsolete.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
missing
compile
test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
Azzure-config.h
Azzure-config.h.in
stamp-h1
setup.nsi
Info.plist
split-debug.sh

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.Azzure
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
Azzure-qt
Azzure-Qt.app

# Unit-tests
Makefile.test
Azzure-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_Azzure.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/

.idea
CMakeLists.txt
cmake-build-debug

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch
!depends/*

libsecp256k1.pc
libsecp256k1-config.h
